
.downloadContainer {
    margin-top: -250px;
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.downloadBTNContainer{

    display: flex;
    flex-direction: row;
    width: 100%;
}
.Land {
    display: flex;
    flex: 1;
    height: 90vh;
    flex-direction: row;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-image: url("../Assets/appswall.jpg");
}

.mock {
    width: 40%;
    height: 73vh;

}

.App {
    text-align: center;
    width: 100%;
    /*display: flex;*/

    /*flex-direction: column;*/
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;

}

.Header {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    background-color: #273665;
}

.Footer {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    width: 100%;
    -webkit-justify-content: center;
    justify-content: center;
    background-color: #273665;
    position: fixed;
    bottom: 0;


}

.headerLogo {
    height: 50%;

}

.menuTexts {
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding-left: 15px;

}

a:hover {
    color: yellow;
}

.headerContainer {
    width: 75%;
    display: flex;
    height: 100px;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;

}

.Card {
    border-radius: 10px;
    margin: 5px;
    /*width:75%;*/
    -webkit-align-items: center;
    align-items: center;
    box-shadow: 1px 1px 1px 1px #eaeaea;

    background: #FFFFFF;
}

.searchCard {
    box-shadow: 1px 1px 1px 1px #eaeaea;

    border-radius: 7px;
    margin: 5px;
    /*width:75%;*/
    display: flex;
    /*flex-direction: column;*/
    background: #FFFFFF;
}

.searchInput {
    display: flex;
    flex-grow: 1;

    margin: 10px;
    font-size: 18px;
    border: none;

}

.headerButtonsContainer {
    /*display: flex;*/
    /*flex-direction: row;*/
}

.cardImageAndName {
    display: flex;
    /*flex-direction: row;*/
    width: 26.6666%;
    text-align: left;
    align-items: center;

}

.cardImage {
    width: 37px;
    height: 37px;

}

.headerLogo {
    /*width: 20%;*/
    /*height: 90%;*/

}

.cardContainer {
    display: flex;
    /*flex-direction: row;*/
    -webkit-align-items: center;
    align-items: center;
    width: 100%;
    /*justify-content: space-between;*/
    margin: 15px;

}

.dateContainer {
    justify-content: space-around;
    margin: 5px;
    /*width:75%;*/
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-flex;
    display: flex;
    /*flex-direction: row;*/
}

.dateContainerTitle {

    font-size: 24px;
    color: #343856;

}

.dateContainerDate {

    font-size: 18px;
    color: #343856;

}

.cardNumber {

    margin: 0px;
    font-size: 18px;
    color: #343856;
    width: 6.6666%;
    text-align: center;

}

.cardMarketCap {
    width: 16.6666%;
    text-align: left;
    margin: 0px;
    font-size: 18px;
    color: #343856;

}

.cardSupply {
    width: 16.6666%;
    text-align: left;
    margin: 0px;
    font-size: 18px;
    color: #343856;

}

.cardChange {
    width: 16.6666%;
    text-align: center;
    margin: 0px;
    font-size: 18px;
    color: #343856;

}

.cardPrice {
    width: 16.6666%;
    margin: 0px;
    text-align: left;
    font-size: 18px;
    color: #343856;

}

.nameContainer {
    /*display: flex;*/
    /*flex-direction: column;*/
}

.cardName {
    width: 100%;

    margin: 3px 20px 3px 3px;
    font-size: 16px;
    color: #343856;

}

.cardSymbol {

    margin: 0 3px 3px 3px;
    font-size: 13px;
    color: #44486a;
    text-align: left;

}

.App-logo {
    -webkit-animation: App-logo-spin infinite 20s linear;
    animation: App-logo-spin infinite 20s linear;
    height: 80%;
    width: 20%;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    /*display: flex;*/
    /*flex-direction: column;*/
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.VAZIRIIIIIIII {
    max-width: 980px;
    margin: 0 auto;
    height: 100%;

}


.cardContainer .aliV {
    flex-grow: 1;
}



@media only screen and (max-width: 768px) {
    h6.cardMarketCap.aliV, h6.cardSupply.aliV, h6.cardChange.aliV {
        display: none;
    }

    a.menuTexts {
        display: none;

    }

}
